* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    color: black;
    font-family: lexend;
    justify-content: center;
    background: radial-gradient(ellipse at center,
    brown, chocolate, brown);
}

h1 {
    text-align: center;
    font-size: 50px;
    position: relative;
    margin-top: 50px;
    text-shadow: 5px 5px 5px black;
    color: white;
}


.btn {
    width: 20%;
    position: absolute;
    margin-left: 40%;
    margin-top: 10%;
    padding: 15px 25px;
    font-family: lexend;
    font-size: 50px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #d89207;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    font-weight: 700;
}

button {
    border: none;
    outline: none;
    background: none;
}

.btn:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}